.label4 {
  width: 160px;
  position: relative;
  font-size: var(--regular-16-24-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--regular-16-24);
  color: var(--white);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.buttonprimary {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xs);
  background-color: var(--color-blueviolet-200);
  width: 400px;
  border-radius: var(--br-9xs);
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
